.all
  = render "layouts/header"
  .top
    .top__left
      %input{placeholder: " ランキング検索", class: "top__left__search"}
      .top__left__description
        %p このアプリは皆さんの主観的な評価を統計するものであり、勝ち負けを決めるような主旨はございません。
        %p また、議論や評論はこのアプリのコンセプトに含まれないため、コメント機能などはありません。
    .top__main
      .top__main__title
        .top__main__title__name 赤い果物といえば
        .top__main__title__1
          %p 1位
        .top__main__title__2
          %p 2位
        .top__main__title__3
          %p 3位
      .top__main__title
        .top__main__title__name 歌が上手いボーカル
        .top__main__title__1
          %p 1位
        .top__main__title__2
          %p 2位
        .top__main__title__3
          %p 3位
      .top__main__title
        .top__main__title__name 出来たらかっこいい楽器
        .top__main__title__1
          %p 1位
        .top__main__title__2
          %p 2位
        .top__main__title__3
          %p 3位