.header
  .header__left
    = link_to root_path do
      .header__left__my-page マイページ
    = link_to root_path do
      .header__left__log-out ログアウト
  = link_to root_path do
    .header__main-title KING OF
  .header__right
    = link_to root_path do
      .header__right__title-create ランキング作成